Repository melisms/lyveskin-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, config

log in register
  users/templates/users/login.html
  users/templates/users/register.html
Labels: none

lil fix
  item/templates/item/form.html
Labels: backend

turkish to english
  item/templates/item/form.html
Labels: backend

add session for Assistant
  lyve/views.py
Labels: backend

ask_ollama big update
  lyve/__pycache__/context_processors.cpython-310.pyc
  lyve/__pycache__/views.cpython-310.pyc
  lyve/context_processors.py
  lyve/templates/lyve/base.html
  lyve/views.py
  skinc/__pycache__/settings.cpython-310.pyc
  skinc/settings.py
Labels: backend

chatbox history update
  lyve/templates/lyve/base.html
Labels: none

register update
  users/templates/users/register.html
Labels: none

logout page update
  users/templates/users/logout.html
Labels: none

chatbot history changes
  lyve/templates/lyve/base.html
Labels: none

random shuffle
  lyve/__pycache__/views.cpython-310.pyc
  lyve/views.py
Labels: backend

views update
  lyve/__pycache__/views.cpython-310.pyc
  lyve/views.py
Labels: backend

chat clear button
  lyve/templates/lyve/base.html
Labels: none

local storage send button
  lyve/templates/lyve/base.html
Labels: none

clear cache for login and logout in chatbot
  lyve/views.py
  skinc/__pycache__/wsgi.cpython-310.pyc
  users/__pycache__/signals.cpython-310.pyc
  users/apps.py
  users/signals.py
Labels: backend

change nginx conf
  docker-compose.yml
  nginx/nginx.conf
Labels: config

cache
  lyve/__pycache__/context_processors.cpython-310.pyc
Labels: none

add favicon.ico
  .DS_Store
  lyve/static/apple-touch-icon.png
  lyve/static/favicon.ico
  skinc/__pycache__/settings.cpython-310.pyc
  skinc/settings.py
Labels: backend

Potential fix for code scanning alert no. 4: DOM text reinterpreted as HTML
  lyve/templates/lyve/base.html
Labels: none

Potential fix for code scanning alert no. 5: DOM text reinterpreted as HTML
  lyve/templates/lyve/base.html
Labels: none

upgrade Django to 5.2.2
  requirements.txt
Labels: none

add bot yml
  .github/dependabot.yml
Labels: config

Enable Dependabot with auto-approve and auto-merge for safe updates
  .github/dependabot.yml
  .github/workflows/auto-approve-merge.yml
Labels: config

develop sync
  .github/workflows/sync-main-to-develop.yml
Labels: config

develop sync (#32)
  .github/workflows/sync-main-to-develop.yml
Labels: config

add password forgot
  forum/__pycache__/apps.cpython-310.pyc
  forum/__pycache__/signals.cpython-310.pyc
  forum/__pycache__/views.cpython-310.pyc
  item/__pycache__/forms.cpython-310.pyc
  item/__pycache__/models.cpython-310.pyc
  item/__pycache__/signals.cpython-310.pyc
  item/__pycache__/urls.cpython-310.pyc
  item/__pycache__/utils.cpython-310.pyc
  item/__pycache__/views.cpython-310.pyc
  item/migrations/__pycache__/0014_ingredient_note.cpython-310.pyc
  lyve/__pycache__/context_processors.cpython-310.pyc
  lyve/__pycache__/urls.cpython-310.pyc
  lyve/__pycache__/views.cpython-310.pyc
  skinc/__pycache__/settings.cpython-310.pyc
  skinc/__pycache__/urls.cpython-310.pyc
  skinc/urls.py
  users/__pycache__/apps.cpython-310.pyc
  users/__pycache__/forms.cpython-310.pyc
  users/__pycache__/models.cpython-310.pyc
  users/__pycache__/signals.cpython-310.pyc
  users/__pycache__/urls.cpython-310.pyc
  users/__pycache__/utils.cpython-310.pyc
  users/__pycache__/views.cpython-310.pyc
  users/migrations/__pycache__/0002_userprofile_favorites_and_more.cpython-310.pyc
  users/migrations/__pycache__/0003_userprofile_email_verified.cpython-310.pyc
  users/templates/users/new_password.html
  users/templates/users/password_reset_complete.html
  users/templates/users/password_reset_email.html
  users/templates/users/request_email.html
  users/templates/users/test.html
  users/urls.py
  users/utils.py
  users/views.py
Labels: backend

button fix
  users/templates/users/password_reset_complete.html
Labels: none

Develop (#42)
  forum/__pycache__/apps.cpython-310.pyc
  forum/__pycache__/signals.cpython-310.pyc
  forum/__pycache__/views.cpython-310.pyc
  item/__pycache__/forms.cpython-310.pyc
  item/__pycache__/models.cpython-310.pyc
  item/__pycache__/signals.cpython-310.pyc
  item/__pycache__/urls.cpython-310.pyc
  item/__pycache__/utils.cpython-310.pyc
  item/__pycache__/views.cpython-310.pyc
  item/migrations/__pycache__/0014_ingredient_note.cpython-310.pyc
  lyve/__pycache__/context_processors.cpython-310.pyc
  lyve/__pycache__/urls.cpython-310.pyc
  lyve/__pycache__/views.cpython-310.pyc
  skinc/__pycache__/settings.cpython-310.pyc
  skinc/__pycache__/urls.cpython-310.pyc
  skinc/urls.py
  users/__pycache__/apps.cpython-310.pyc
  users/__pycache__/forms.cpython-310.pyc
  users/__pycache__/models.cpython-310.pyc
  users/__pycache__/signals.cpython-310.pyc
  users/__pycache__/urls.cpython-310.pyc
  users/__pycache__/utils.cpython-310.pyc
  users/__pycache__/views.cpython-310.pyc
  users/migrations/__pycache__/0002_userprofile_favorites_and_more.cpython-310.pyc
  users/migrations/__pycache__/0003_userprofile_email_verified.cpython-310.pyc
  users/templates/users/new_password.html
  users/templates/users/password_reset_complete.html
  users/templates/users/password_reset_email.html
  users/templates/users/request_email.html
  users/templates/users/test.html
  users/urls.py
  users/utils.py
  users/views.py
Labels: backend

ignore
  .gitignore
Labels: none

Develop (#43)
  .gitignore
Labels: none

update
  item/templates/item/comparison_page.html
Labels: backend

compare page updates
  item/templates/item/comparison_page.html
  lyve/__pycache__/context_processors.cpython-310.pyc
  skinc/__pycache__/wsgi.cpython-310.pyc
  users/templates/users/profile.html
Labels: backend

Update .gitignore
  .gitignore
Labels: none

detail page update
  item/__pycache__/views.cpython-310.pyc
  item/templates/item/detail.html
  item/views.py
Labels: backend

update
  item/templates/item/detail.html
Labels: backend

develop 49 (#50)
  item/templates/item/detail.html
  item/views.py
Labels: backend

ingredients button style fix
  lyve/templates/lyve/ingredients.html
Labels: none

change
  item/templates/item/browse.html
  item/templates/item/detail.html
  item/views.py
Labels: backend

change (#53)
  item/templates/item/browse.html
  item/templates/item/detail.html
  item/views.py
Labels: backend

fix browse
  item/templates/item/browse.html
Labels: backend

Develop (#55)
  item/templates/item/browse.html
Labels: backend

.github/labeler.yml:

frontend:
  - 'frontend/**'
  - 'templates/**'
  - '**/*.js'
  - '**/*.css'

backend:
  - 'backend/**'
  - '**/*.py'
  - 'item/**'
  - 'user/**'

docs:
  - '**/*.md'

config:
  - '.github/**'
  - '**/*.yml'
